.lineChart {
  position: relative;
  :global {
    .y-scale-canvas {
      z-index: 2;
      left: 0;
      position: absolute;
    }
    .point-line-canvas,
    .dashed-line-canvas {
      top: 0;
      position: absolute;
      pointer-events:none;
    }
    .line-chart-wrapper {
      overflow-x: auto;
      position: relative;
    }
  }
}