@import "./line-chart";

.xScale {
  height: $xScaleHeight;
  position: relative;
  display: flex;
  cursor: default;
  user-select: none;
  :global {
    .xScale-item {
      width: 0;
      font-size: 0.857rem;
      display: flex;
      justify-content: center;
      &:first-child {
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: flex-end;
      }
    }
  }
}