:global {
  .image-gallery, .image-gallery-content {
    height: 100%;
  }
  .image-gallery-thumbnails-wrapper {
    top: 50px;
  }
  .image-gallery-slide {
    background: #fff;
    position: absolute !important;
    width: 100%;
    left: auto !important;
    top: auto !important;
  }
  .image-gallery-slides {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-gallery-swipe {
    height: 100%;
  }


  .image-gallery-slide-wrapper {
    position: relative;
    height: 100%;
  }
}