.lineChart {
  position: relative;
  :global {
    .y-scale-canvas {
      //display: none;
      background-color: #fff;
      left: 0;
      position: absolute;
    }
    .line-chart-wrapper {
      overflow-x: auto;
    }
  }
}