.imagesCarousel {
  border: 1px solid #000;
  overflow: hidden;
}

.imagesBlock {
  display: flex;
  position: relative;
}

.imageWrapper {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .4s ease-out ;
}
