@import "../../assets/base/colors";

.objectAnalyticHeader {
  padding: 30px 30px 20px 30px;
  display: flex;
  align-items: center;
  :global {
    .icon {
      position: relative;
      width: 42px;
      height: 42px;
      margin-right: 20px;
      .circle {
        position: absolute;
      }
      svg {
        width: 42px !important;
        height: 42px !important;
      }
    }

    .title {
      color: $darkGrey;
      font-size: 1.428rem;
      font-weight: 500;
    }

  }
}